[submodule "backend"]
	path = backend
	url = https://github.com/Hahahahackathoners/ai-hr-backend
[submodule "ml"]
	path = ml
	url = https://github.com/Hahahahackathoners/ai-hr-ml
[submodule "ui"]
	path = ui
	url = https://github.com/Hahahahackathoners/ai-hr-ui
[submodule "offline-preprocessing"]
	path = offline-preprocessing
	url = https://github.com/Hahahahackathoners/ai-hr-offline-preprocessing
[submodule "online-interviewer"]
	path = online-interviewer
	url = https://github.com/Hahahahackathoners/ai-hr-online-interviewer
